/* ------ Global ----- */

:root {
  /* Colors */
  --primaryColor: #5b8a72;
  --secondaryColor: #56776c;
  --lightColor: #bfcba8;
  --darkColor: #464f41;
  /* Fonts */
  --montserrat: "Montserrat", sans-serif;
  --palanquin: "Palanquin", sans-serif;
  --palanquinDark: "Palanquin Dark", sans-serif;
  --reenie: "Reenie Beanie", cursive;
  /* Others */
  --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background: var(--secondaryColor);
  overflow-x: hidden;
  font-family: var(--montserrat);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  overflow-x: hidden;
}

#como,
#beneficios,
#planos {
  background: white;
}

.section__wrapper {
  position: relative;
  min-height: 100vw;
  margin: auto;
  z-index: 10;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  color: var(--secondaryColor);
  font-family: var(--palanquinDark);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin: 3rem auto;
  text-align: center;
}

.btn {
  background: var(--lightColor);
  border-radius: 10px;
  border: none;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15);
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: white;
  font-family: var(--montserrat);
  font-size: 1.25rem;
  min-width: 10rem;
  margin: 4rem auto;
  transition: var(--transition);
}
.btn:hover {
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .section__title {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    margin: 4rem auto;
  }

  .section__wrapper {
    min-height: auto;
    max-height: 100vh;
  }
}

/* ------ Navbar ----- */

nav {
  width: 100vw;
  background: white;
  position: fixed;
  z-index: 1000;
  transition: var(--transition);
  padding: 1rem;
  top: 0;
}

.nav__header {
  display: flex;
  justify-content: space-between;
}

.nav__title {
  color: var(--lightColor);
  font-size: 3rem;
  font-family: var(--reenie);
  margin: auto 0;
}

.nav__toggler {
  background-color: transparent;
  color: var(--secondaryColor);
  font-size: 2rem;
  border: none;
}

.nav__links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto 0;
  padding-right: 1rem;
  text-align: right;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.nav__links a {
  color: var(--lightColor);
  font-family: var(--montserrat);
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: var(--transition);
}

.nav__links a:hover {
  color: var(--darkColor);
}

.nav__links--show {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__links {
    flex-direction: row;
    height: auto;
  }
}

/* ------ Home ----- */
.circle {
  height: 95vh;
  width: 200vw;
  position: absolute;
  right: -50vw;
  border-radius: 100%;
  background: white;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
}

.plate1 {
  position: absolute;
  width: 300px;
  bottom: 5%;
  left: -2%;
  display: none;
}

.plate2 {
  position: absolute;
  width: 230px;
  top: 35%;
  right: -2%;
  transform: scaleX(-1);
  display: none;
}

.cards__container {
  display: flex;
  overflow-x: scroll;
  gap: 2rem;
  padding: 0 3rem;
  min-height: 17rem;
  flex-shrink: 0;
}

.cards__container::-webkit-scrollbar {
  display: none;
}

.cards {
  border-radius: 12px;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  min-width: 15rem;
  height: 17rem;
  padding: 1rem;
  margin: 1rem auto;
  padding: 2rem;
  transition: var(--transition);
}

.cards:hover {
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.03);
}

.cards__title {
  color: var(--primaryColor);
  font-family: var(--montserrat);
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.cards__icon {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .plate1,
  .plate2 {
    display: block;
  }
  .cards__container {
    width: 60vw;
    margin: auto;
    flex-direction: row;
  }
  .cards {
    width: 12rem;
    height: 17rem;
    padding: 3rem 3rem;
  }
  .cards__title {
    font-size: 1.25rem;
  }

  .cards__icon img {
    width: 70%;
  }
}

@media screen and (max-height: 650px) {
  .section__title {
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
  }

  .cards {
    width: 6rem;
    height: 14rem;
    margin: 1rem;
  }
  .cards__container {
    padding: 0 0rem;
    gap: 0.25rem;
  }
  .cards__icon img {
    width: 50%;
  }
  .btn {
    margin: 1rem auto;
  }
}

/* ------ Como ----- */
.steps__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: auto;
  overflow-y: scroll;
}

.steps__container::-webkit-scrollbar {
  display: none;
}

.steps {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.steps__img {
  max-width: 90vw;
  margin: auto;
}

.steps__title {
  color: var(--primaryColor);
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0 0 0.6rem;
  font-size: 1.45rem;
}

.steps__subtitle {
  color: var(--darkColor);
  text-align: center;
  font-family: var(--palanquin);
  padding: 0 2rem;
  font-size: 1.25rem;
}

@media screen and (min-width: 800px) {
  .steps__container {
    flex-direction: row;
  }
  .steps__img {
    max-width: 400px;
  }
  .steps__title {
    font-size: 1rem;
  }
  .steps__subtitle {
    font-size: 1rem;
  }
}

/* ------ Beneficios ----- */
.beneficios__container {
  display: flex;
  width: 80vw;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
}

.beneficios__img {
  width: 90vw;
}

.beneficios__list {
  padding: 2rem 0;
  text-align: left;
}

td {
  padding-bottom: 2rem;
}

.beneficios__icon {
  width: 30px;
  margin-right: 1.5rem;
}

.beneficions__icon--align {
  vertical-align: top;
}

.beneficios__title {
  color: var(--primaryColor);
  text-transform: uppercase;
  font-family: var(--montserrat);
  font-size: 1.45rem;
}

.beneficios__description {
  color: var(--darkColor);
  font-family: var(--palanquin);
  font-size: 1.45rem;
}

@media screen and (min-width: 800px) {
  .beneficios__container {
    flex-direction: row;
  }
  .beneficios__img {
    width: 40%;
  }
  .beneficios__list {
    width: 50%;
  }
  .beneficios__icon {
    width: 30px;
    margin-right: 2rem;
  }
  .beneficios__description {
    font-size: 1.25rem;
    padding-left: 1.5rem;
  }
}

/* ------ Planos ----- */
.plate3 {
  position: absolute;
  width: 250px;
  top: 12%;
  left: -2%;
  display: none;
}

.cards__container--planos {
  max-width: 95vw;
  display: flex;
  padding: 0 3rem;
  flex-direction: column;
  margin: auto;
  gap: 2rem;
}

.cards {
  width: 150px;
}

.cards__price {
  color: var(--lightColor);
  font-size: 2.5rem;
  text-align: center;
}

.cards__planos:hover {
  box-shadow: 1px 4px 20px rgba(148, 179, 150, 0.5);
  border: 1px var(--darkColor) solid;
  cursor: pointer;
}

.cards__planos--click {
  box-shadow: 1px 4px 20px rgba(148, 179, 150, 0.5);
  border: 1px var(--darkColor) solid;
  cursor: pointer;
}

.cards__details {
  color: var(--darkColor);
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
}

@media screen and (min-width: 800px) {
  .plate3 {
    display: block;
  }
  .cards__container--planos {
    flex-direction: row;
  }
}
